################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/PokemonAPIServidor/CopilotIndices/17.12.27.11192
/.vs/PokemonAPIServidor/FileContentIndex
/.vs/PokemonAPIServidor/v17
/.vs/SistemasDistribuidos-ProyectoFinal/CopilotIndices/17.12.27.11192
/.vs/SistemasDistribuidos-ProyectoFinal/v17
